 *{
 	margin: 0 auto;
 	padding: 0;
 }
@-webkit-keyframes digitrunning{

	0%{ top: -150%; } 
	100%{top: 150%; } 
}
@keyframes digitrunning{

	0%{ top: -150%; } 
	100%{top: 150%; } 
}

 body{ overflow: hidden;
 background-color: black; }
 .text{
 	width: 2vw;
 	height: 100%;
 	font-size: 3vw; 
 	display: inline-block;
 	color: lightgreen;
 }
 .digit{
 	width: 2vw;
 	font-size: 2vw;
 	height:100%;
 	position: absolute;
 	top: 0;
 	left: 0; 
 	-webkit-animation: digitrunning linear 4s infinite; 
 	        animation: digitrunning linear 4s infinite;
 	color: lightgreen;
 	text-align: center;
 	text-shadow: 0 0 1vw rgba(100,255,100,0.5); } 
  .digitBig{
 	width: 3vw;
 	font-size: 3vw;
 	height:100%;
 	position: absolute;
 	top: 0;
 	left: 33vw; 
 	-webkit-animation: digitrunning linear 5s infinite; 
 	        animation: digitrunning linear 5s infinite;
 	color: lightgreen;
 	text-align: center; 
 } 
 .msg{
 	width: 100%;
 	position: absolute;
 	bottom: 0;
 	color: white;
 	text-align: center;
 	font-family: 'Square721 BT','Montserrat', sans-serif;
 	font-size: 20px;
 }
 .msg>a{
 	text-decoration: none; 
 }	
 	
 .digit:nth-child(2)  { left: 2vw; -webkit-animation: digitrunning linear 3.5s infinite; animation: digitrunning linear 3.5s infinite; }
 .digit:nth-child(3)  { left: 4vw; -webkit-animation: digitrunning linear 6s infinite; animation: digitrunning linear 6s infinite; }
 .digit:nth-child(4)  { left: 6vw; -webkit-animation: digitrunning linear 4s infinite; animation: digitrunning linear 4s infinite; }
 .digit:nth-child(5)  { left: 8vw; -webkit-animation: digitrunning linear 2s infinite; animation: digitrunning linear 2s infinite; }
 .digit:nth-child(6)  { left: 10vw;-webkit-animation: digitrunning linear 4.5s infinite;animation: digitrunning linear 4.5s infinite; }
 .digit:nth-child(7)  { left: 12vw;-webkit-animation: digitrunning linear 3s infinite;animation: digitrunning linear 3s infinite; }
 .digit:nth-child(8)  { left: 14vw;-webkit-animation: digitrunning linear 3.5s infinite;animation: digitrunning linear 3.5s infinite; }
 .digit:nth-child(9)  { left: 16vw;-webkit-animation: digitrunning linear 5.5s infinite;animation: digitrunning linear 5.5s infinite; }
 .digit:nth-child(10) { left: 18vw;-webkit-animation: digitrunning linear 2s infinite;animation: digitrunning linear 2s infinite; }
 .digit:nth-child(11) { left: 20vw;-webkit-animation: digitrunning linear 6s infinite;animation: digitrunning linear 6s infinite; }
 .digit:nth-child(12) { left: 22vw;-webkit-animation: digitrunning linear 1.5s infinite;animation: digitrunning linear 1.5s infinite; }
 .digit:nth-child(13) { left: 24vw;-webkit-animation: digitrunning linear 3s infinite;animation: digitrunning linear 3s infinite; }
 .digit:nth-child(14) { left: 26vw;-webkit-animation: digitrunning linear 2.5s infinite;animation: digitrunning linear 2.5s infinite; }
 .digit:nth-child(15) { left: 28vw;-webkit-animation: digitrunning linear 3s infinite;animation: digitrunning linear 3s infinite; }
 .digit:nth-child(16) { left: 30vw;-webkit-animation: digitrunning linear 4s infinite;animation: digitrunning linear 4s infinite; }
 .digit:nth-child(17) { left: 32vw;-webkit-animation: digitrunning linear 6.5s infinite;animation: digitrunning linear 6.5s infinite; }
 .digit:nth-child(18) { left: 34vw;-webkit-animation: digitrunning linear 3s infinite;animation: digitrunning linear 3s infinite; }
 .digit:nth-child(19) { left: 36vw;-webkit-animation: digitrunning linear 5.5s infinite;animation: digitrunning linear 5.5s infinite; }
 .digit:nth-child(20) { left: 38vw;-webkit-animation: digitrunning linear 2.5s infinite;animation: digitrunning linear 2.5s infinite; }
 .digit:nth-child(21) { left: 40vw;-webkit-animation: digitrunning linear 4s infinite;animation: digitrunning linear 4s infinite; }
 .digit:nth-child(22) { left: 42vw;-webkit-animation: digitrunning linear 2s infinite;animation: digitrunning linear 2s infinite; }
 .digit:nth-child(23) { left: 44vw;-webkit-animation: digitrunning linear 3s infinite;animation: digitrunning linear 3s infinite; }
 .digit:nth-child(24) { left: 46vw;-webkit-animation: digitrunning linear 6s infinite;animation: digitrunning linear 6s infinite; }
 .digit:nth-child(25) { left: 48vw;-webkit-animation: digitrunning linear 2.5s infinite;animation: digitrunning linear 2.5s infinite; }
 .digit:nth-child(26) { left: 50vw;-webkit-animation: digitrunning linear 4.5s infinite;animation: digitrunning linear 4.5s infinite; }
 .digit:nth-child(27) { left: 52vw;-webkit-animation: digitrunning linear 5s infinite;animation: digitrunning linear 5s infinite; }
 .digit:nth-child(28) { left: 54vw;-webkit-animation: digitrunning linear 3s infinite;animation: digitrunning linear 3s infinite; }
 .digit:nth-child(29) { left: 56vw;-webkit-animation: digitrunning linear 2s infinite;animation: digitrunning linear 2s infinite; }
 .digit:nth-child(30) { left: 58vw;-webkit-animation: digitrunning linear 2.5s infinite;animation: digitrunning linear 2.5s infinite; }
 .digit:nth-child(31) { left: 60vw;-webkit-animation: digitrunning linear 4s infinite;animation: digitrunning linear 4s infinite; }
 .digit:nth-child(32) { left: 62vw;-webkit-animation: digitrunning linear 2s infinite;animation: digitrunning linear 2s infinite; }
 .digit:nth-child(33) { left: 64vw;-webkit-animation: digitrunning linear 3.5s infinite;animation: digitrunning linear 3.5s infinite; }
 .digit:nth-child(34) { left: 66vw;-webkit-animation: digitrunning linear 1.5s infinite;animation: digitrunning linear 1.5s infinite; }
 .digit:nth-child(35) { left: 68vw;-webkit-animation: digitrunning linear 2s infinite;animation: digitrunning linear 2s infinite; }
 .digit:nth-child(36) { left: 70vw;-webkit-animation: digitrunning linear 4.5s infinite;animation: digitrunning linear 4.5s infinite; }
 .digit:nth-child(37) { left: 72vw;-webkit-animation: digitrunning linear 2s infinite;animation: digitrunning linear 2s infinite; }
 .digit:nth-child(38) { left: 74vw;-webkit-animation: digitrunning linear 6s infinite;animation: digitrunning linear 6s infinite; }
 .digit:nth-child(39) { left: 76vw;-webkit-animation: digitrunning linear 5.5s infinite;animation: digitrunning linear 5.5s infinite; }
 .digit:nth-child(40) { left: 78vw;-webkit-animation: digitrunning linear 2s infinite;animation: digitrunning linear 2s infinite; }
 .digit:nth-child(41) { left: 80vw;-webkit-animation: digitrunning linear 4s infinite;animation: digitrunning linear 4s infinite; }
 .digit:nth-child(42) { left: 82vw;-webkit-animation: digitrunning linear 4.5s infinite;animation: digitrunning linear 4.5s infinite; }
 .digit:nth-child(43) { left: 84vw;-webkit-animation: digitrunning linear 6s infinite;animation: digitrunning linear 6s infinite; }
 .digit:nth-child(44) { left: 86vw;-webkit-animation: digitrunning linear 4s infinite;animation: digitrunning linear 4s infinite; }
 .digit:nth-child(45) { left: 88vw;-webkit-animation: digitrunning linear 3.5s infinite;animation: digitrunning linear 3.5s infinite; }
 .digit:nth-child(46) { left: 90vw;-webkit-animation: digitrunning linear 5s infinite;animation: digitrunning linear 5s infinite; }
 .digit:nth-child(47) { left: 92vw;-webkit-animation: digitrunning linear 4s infinite;animation: digitrunning linear 4s infinite; }
 .digit:nth-child(48) { left: 94vw;-webkit-animation: digitrunning linear 3.5s infinite;animation: digitrunning linear 3.5s infinite; }
 .digit:nth-child(49) { left: 96vw;-webkit-animation: digitrunning linear 1.5s infinite;animation: digitrunning linear 1.5s infinite; }
 .digit:nth-child(50) { left: 98vw;-webkit-animation: digitrunning linear 2.5s infinite;animation: digitrunning linear 2.5s infinite; }

 .digitBig:nth-child(2)  { left: 13vw; -webkit-animation: digitrunning linear 5s infinite; animation: digitrunning linear 5s infinite; }
 .digitBig:nth-child(3)  { left: 21vw; -webkit-animation: digitrunning linear 3s infinite; animation: digitrunning linear 3s infinite; }
 .digitBig:nth-child(4)  { left: 37vw; -webkit-animation: digitrunning linear 4.5s infinite; animation: digitrunning linear 4.5s infinite; }
 .digitBig:nth-child(5)  { left: 45vw; -webkit-animation: digitrunning linear 2.5s infinite; animation: digitrunning linear 2.5s infinite; }
 .digitBig:nth-child(6)  { left: 53vw; -webkit-animation: digitrunning linear 4s infinite; animation: digitrunning linear 4s infinite; }
 .digitBig:nth-child(7)  { left: 61vw; -webkit-animation: digitrunning linear 5s infinite; animation: digitrunning linear 5s infinite; }
 .digitBig:nth-child(8)  { left: 77vw; -webkit-animation: digitrunning linear 2.5s infinite; animation: digitrunning linear 2.5s infinite; }
 .digitBig:nth-child(9)  { left: 89vw; -webkit-animation: digitrunning linear 6s infinite; animation: digitrunning linear 6s infinite; }
 .digitBig:nth-child(10)  { left: 93vw; -webkit-animation: digitrunning linear 2s infinite; animation: digitrunning linear 2s infinite; }